.Header {
  padding: 5px 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.Header__image {
  object-fit: contain;
  width: 60px;
  height: 30px;
}
