.Post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgray;
  margin-bottom: 40px;
}

.Post__avatar {
  margin-right: 10px;
}

.Post__header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.Post__image {
  object-fit: contain;
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.Post__text {
  font-weight: normal;
  padding: 20px;
}

.Post__commentbox {
  display: flex;
  margin-top: 10px;
}

.Post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.Post__button {
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
  color: #6082a3;
  background-color: transparent;
}

.Post__comments {
  margin-left: 20px;
}
